#iniciarMenu{
    width: 80%;
    height: 80%;
    background: url('../img/paisagem/inicioTelaFundo.jpg') no-repeat;
    position: relative;
    visibility: visible;
    border-radius: 2%;
}

.title{
    color: rgb(218, 14, 14);
    font-family: JungleHope;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: white;
    font-size: 105px;
    position: absolute;
    top: 240px;
    left: 200px;
    transform: rotate(-5deg);
    z-index: 1;
}

.dino{
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 150px;
    position: absolute;
    top: 80px;
    left: 300px;
}

.cacto{
    width: 250px;
    height: 250px;
    background-image: url('../img/paisagem/cactusInicio.png');
    background-repeat: no-repeat;
    background-size: 150px;
    position: absolute;
    top: 140px;
    left: 490px;
}

#iniciarJogo{
    width: 250px;
    height: 250px;
    background-size: 190px;
    transform: rotate(15deg);
    position: absolute;
    top: 340px;
    left: 620px;
    z-index: 2;
    cursor: pointer;
    font-size: 50px;
    font-family: JungleHope;
    color:rgb(23, 4, 189);
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #fff;  
}

#iniciarJogo:hover{
    background-size: 210px;
    color:#93d808;
    text-shadow: 0.14rem 0.14rem 0.8rem #fff;  
}