*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: arcade;
    src: url('/assets/fonts/arcade.ttf');
}

@font-face{
    font-family: DinoLogo;
    src: url('/assets/fonts/DinoLogo.TTF');
}
